.landing {
  display: flex;
  min-height: calc(100vh - 4rem);
  background-color: rgb(232, 255, 255);

  .landingContainer {
    display: flex;
    margin-left: 1.2rem;

    .leftlanding {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .landingbuttons {
        display: flex;
        gap: 1rem;
      }
    }

    .rightlanding {
      display: flex;
    }
  }
}

@media screen and (max-width: 792px) {
  .landing {
    .landingContainer {
      flex-direction: column;
      margin-left: 0;
      align-items: center;
      margin-top: 5rem;
      text-align: center;

      .leftlanding {
        width: 90%;
        gap: 1.5rem;

        h1 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.9rem;
        }
        .landingbuttons {
          gap: 2rem;
        }
      }
    }
  }
}
