#headLottie {
  width: 30%;
  height: auto;
  position: absolute;
  left: 70%;
  top: 20%;
}

@media screen and (max-width: 800px) {
  #headLottie {
    position: relative;
    width: 70%;
    left: 0;
    margin: auto;
    top: 0;
  }
}
